title: My(elshaio) blog :V
description: >- 
  Random stuff, my gf told me to not use ors :V
baseurl: "" 
url: "https://elshaio.github.io"
github_username:  elshaio

disqus:
  shortname: "shaio"
defaults:
  - scope:
      path: ""
      type: posts
    values:
      comments: true

# Build settings
theme: minima
plugins:
  - jekyll-feed

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
